{% extends 'accounts/base.html' %}

{% block content %}

<h1>Home</h1>
<hr />
{% if user.is_authenticated %}
<p>
	{% if user.is_superuser %}
	<a class="btn btn-primary" href="{% url 'accounts:user_signup' %}"><span class="glyphicon glyphicon-plus"></span>Add user</a>
	<a class="btn btn-danger" href="{% url 'students:create_test' %}"><span class="glyphicon glyphicon-plus"></span>create test</a>
	<a class="btn btn-primary" href="{% url 'accounts:password_change' %}">change password</a>
</p>
<p>
	{% elif user.is_staff %}
	<a class="btn btn-danger" href="{% url 'students:create_test' %}"><span class="glyphicon glyphicon-plus"></span>create test</a>
	<a class="btn btn-primary" href="{% url 'accounts:password_change' %}">change password</a>
</p>
<p>
	{% else %}
	<a class="btn btn-danger" href="{% url 'students:test_list' %}">take test</a>
	<a class="btn btn-primary" href="{% url 'students:performance_details' %}">Performance Details</a>
	<a class="btn btn-primary" href="{% url 'accounts:password_change' %}">change password</a>
	{% endif %}
</p>
{% endif %}
{% if not user.is_authenticated %}<p>Please login</p>{% endif %}
<hr />

{% endblock content%}
